.job-field {
    font-size: 0.55em;
}



.job-box {
    background: #DDDDDD;
    margin-left: 20px;
}

.job-tags ul {
    list-style-type: none;
    margin: 0;
    position: relative;
}

.job-tag {
    display: inline;
    font-size: 0.5em !important;
    padding: 5px;
    margin-right: 3px;
    color: #282828;
}

body {
    padding-top:150px;
}