.job-menu{
    padding-top:150px;
    background: #18bc9c;
    height: 100%;
}

.no-padding-left {
    padding-left: 0 !important;
}

.job-points{
    font-size: 0.5em !important;
    position: absolute;
    top: 0;
    right: 0;

}

.job-field {
    font-size: 0.55em;
}

.job-desc {
    font-size: 0.4em;
}



.job-box {
    background: #DDDDDD;
    margin-left: 20px;
    max-height: 150px;
    padding: 10px;
}

.job-tags ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    display: block;
    padding-left:0;
}

.job-tag {
    display: inline;
    font-size: 0.5em !important;
    padding: 5px;
    margin-right: 3px;
    color: #282828;
}

body {
    
}