#open-jobs {
    padding-top: 40px;
}

.job-menu {
    padding-top: 150px;
    background: #FFFFFF;
    height: 100%;
    
}

.job-menu-unpadded {
    background: #FFFFFF;
    padding-top: 30px;
}

.assign-btn {
    margin-bottom:1em;
    margin-top:0em;
}

.drop-btn {
    margin-bottom:1em;
    margin-top:0em;
}

.job-menu a{
    color: inherit;
    text-decoration: inherit;
}

.job-menu-unpadded a{
    color: inherit;
    text-decoration: inherit;
}

body {
    background: #FFFFFF !important;
}

.job-view {
    padding-top: 2em !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.job-points{
    font-size: 1em !important;
    position: absolute;
    top: 0;
    right: 0;
}
.pad-box {
         padding-top:150px;
}
.job-field {
    font-size: 0.75em;
}

.job-desc {
    font-size: 1.2em;
}

.job-box {
    background: #DDDDDD;
    margin-left: 4em;
    max-height: 150px;
    min-height: 150px;
    padding: 10px;
}

.job-tags ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    display: block;
    padding-left:0;
}

.job-tag {
    display: inline;
    font-size: 0.9em !important;
    padding: 5px;
    margin-right: 3px;
    color: #282828;
}

.store-image-tag {
    width:90px;
    height:90px;

}