<!--
<div>

{{controller.job.name}}
{{controller.job.description}}
{{controller.job.tags}}
{{}}
JOB: job_id, name, points, tags (list), description, text_before_tasks
TASKS (catalog): task_id, name, description, default_code, hints
TASK STATUS (per user): status (in_progress / completed), last_code_ente red, last_result_message_shown
</div>-->

<div class="container pad-box">
    <div class="row">
        <div class="col">
            <div class="jumbotron job-view">
                <button ng-show="controller.isAssignable" class="btn btn-info assign-btn" ng-click="controller.assignToMe()">Assign to me</button>
                <button ng-show="controller.isRemovable" class="btn btn-danger drop-btn" ng-click="controller.dropJob()">Drop Job</button>
                <h1 class="display-3">{{controller.job.name}} <span class="badge badge-primary">{{controller.job.points}}<p>LFT</p></span></h1>
                <div class="row">
                    <div ng-repeat="tag in controller.job.tags">
                        <div class="col ">
                            <h4><span class="badge badge-success">{{tag}}</span></h4>
                        </div>
                    </div>
                </div>
                <p class="lead">{{controller.job.description}}</p>
                <p class="lead">
                    <div ng-bind-html="controller.job.text_before_tasks"> </div>
                </p>
                <div class="row">
                    <div class="col">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div ng-repeat="task in controller.job.tasks">
                                <div class="card">
                                    <div class="card-header" role="tab" id="task_{{task.task_id}}">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#bla_{{task.task_id}}" 
                                            href="" aria-expanded="false" aria-controls="bla_{{task.task_id}}" ng-click="fix_editor('editor_' + task.task_id)">
                                            {{task.name}}
                                        </a>
                                        </h5>
                                    </div>
                                    <div id="bla_{{task.task_id}}" class="collapse" role="tabpanel" aria-labelledby="task_{{task.task_id}}">
                                        <div class="card-block">
                                            <div ng-bind-html="task.description"> </div>
                                            <div id="editor_{{task.task_id}}" style="height:300px; width:80%; margin:auto">{{task.default_code}}</div>
                                            <br>
                                            <button type="button" ng-click="controller.submit_code(task, 'editor_' + task.task_id)"
                                             class="btn btn-primary btn-sm">Submit</button>
                                             <span class="alert alert-success" ng-show="task.solutionValid" ng-bind-html="task.message"></span>
                                             <span class="alert alert-error" ng-show="task.solutionInvalid"  ng-bind-html="task.message"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>