<html ng-app="mainApp">
        <head>
            <title>FluffySpork</title>
            
            <!--Lib Scripts - maintain order of imports-->
            <script src="../js/lib/angular/angular.js"> </script>
            <script src="../js/lib/angular/angular-route.js"> </script>
            <script src="../js/lib/angular/angular-resource.js"> </script>
            
            <script src="../js/lib/jquery-3.2.1.js"></script>
            <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
            <script src="../js/lib/bootstrap4/js/bootstrap.js"></script>

        
            <!-- App script -->
            <script src='../js/app/app.js'></script>
            
            <!-- CSS -->
            <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap4/css/bootstrap.css">
            
        </head>
        
        <body ng-controller="mainController">
            <!-- navbar -->
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Navbar</a>
              
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-md-0">
                        <input ng-model="this.username" class="form-control mr-sm-2" type="text" placeholder="Username">
                        <input ng-model="this.password" class="form-control mr-sm-2" type="password" placeholder="Password">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
                      </form>
                    </div>
                  </nav>

                  <ng-route/>
        </body>
        
        </html>